<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Phonebook</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <!--<button ion-item *ngFor="let c of contacts" (click)="itemSelected(c)">
            {{ c }}
        </button>-->
        <ion-card *ngFor="let c of contacts" (click)="itemSelected(c)">
            <ion-item>
                <ion-avatar item-start>
                    <img src="../../assets/imgs/unk.png">
                </ion-avatar>
                <h2>{{ c.name }}</h2>
                <p>{{ c.email }}</p>
            </ion-item>
          
            <!--<img src="../../assets/imgs/unk.png">-->
          
            <ion-card-content>
              <p>
                  <strong>Address</strong>: {{ c.address.street }}, {{ c.address.city }}, {{ c.address.suite }}
              </p>
              <p>
                  <strong>Phone</strong>: {{ c.phone }}
              </p>
              <p>
                  <strong>Company name: </strong> {{ c.company.name }}
              </p>
            </ion-card-content>
          
        </ion-card>  
    </ion-list>
</ion-content>>